.main {
  position: relative;
}

.logo {
  position: relative;
  text-align: center;
  z-index: 2;
}

.diamond_1 {
  position: absolute;
  top: -325px;
  right: -531px;
  z-index: 0;
  width: 700px;
  height: 923px;
  background: #f1ece9;
  /* Rotate */
  transform: rotate(-45deg);
  /* Rotate Origin */
  transform-origin: 0 100%;
}

.diamond_2 {
  position: absolute;
  top: 169px;
  left: 164px;
  z-index: 0;
  width: 350px;
  height: 300px;
  background: #1b1b1b;
  /* Rotate */
  transform: rotate(-45deg);
  /* Rotate Origin */
  transform-origin: 0 100%;
}

.diamond_3 {
  position: absolute;
  top: 344px;
  right: 41px;
  z-index: 4;
  width: 281px;
  height: 281px;
  background: #1b1b1b;
  /* Rotate */
  transform: rotate(-45deg);
  /* Rotate Origin */
  transform-origin: 0 100%;

  &--text {
    text-align: center;
    margin-left: auto;
    padding: 50px 20px;
    transform: rotate(45deg);
  }

  .header__title {
    font-family: $ff-black;
    color: #00aab7;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .title__text {
    font-family: $ff-regular;
    font-size: 0.7rem;
    color: #f1ece9;
  }
}

.diamond_4 {
  display: block;
  width: 540px;
  height: 540px;
  background-color: #1b1b1b;
  /* Rotate */
  transform: rotate(45deg);
}

.thumb {
  background: url("../images/pexels-photo.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin: 40px 166px;

  &:after {
    content: '';
    position: absolute;
    top: -125px;
    left: -149px;
    width: 800px;
    height: 800px;
    background: inherit;
    transform: rotate(-45deg);
  }
}

.diamond_5 {
  display: block;
  position: absolute;
  top: 215px;
  right: 415px;
  width: 50px;
  height: 50px;
  background-color: #00aab7;
  /* Rotate */
  transform: rotate(45deg);
}

.button_start {
  color: #f1ece9;
  text-decoration: none;
  background: #00aab7;
  padding: 5px 10px;
}