about.about#about
    .container
        .wrapper
            .about
                h2.about__title Why Choose us
                span.title__text Lorem ipsum dolor


            .options__list
                .options
                    h3.title__block Feature
                    span.block__text.
                        Lorem ipsum dolor  mero moleamet, soluta euism od isea, hiea unereusams ullu tpamco detore  aer
                        rper quo,utam signiferuuue uo. Brute inani in prom in.Lorem ipsum dolor  mero moleamet, soluta
                        euism od isea, hiea unereusams ullu tpamco detore  aer rper quo,utam signiferuuue uo. Brute inani
                        in prom in.
                .between
                    .between__block
                        img(src="../../images/between_block.png")
                .options
                    h3.title__block About us
                    span.block__text.
                        Lorem ipsum dolor  mero moleamet, soluta euism od isea, hiea unereusams ullu tpamco detore  aer
                        rper quo,utam signiferuuue uo. Brute inani in prom in.Lorem ipsum dolor  mero moleamet, soluta
                        euism od isea, hiea unereusams ullu tpamco detore  aer rper quo,utam signiferuuue uo. Brute inani
                        in prom in.
            .button__about
                a(href="#contact").btn__about.btn__uppercase Contact us

