header.header#about
    .container
        .wrapper
            //.header__top
            //    a(href="#").logo: img.logo__picture(src="images/logo.png" alt="logo")
            //    include nav
            //include main_nav

            .intro
                .intro__banner
                    h1.main__title Lorem ipsum
                        br
                        | dolor sit


                    .counter.col_fourth.options
                        i.fas.fa-compact-disc.fa-2x
                        h2.timer.count-title.count-number(data-to='300', data-speed='1500')
                        p.count-text SomeText GoesHere
                    .counter.col_fourth.options
                        i.fas.fa-microphone-alt.fa-2x
                        h2.timer.count-title.count-number(data-to='100', data-speed='1500')
                        p.count-text SomeText GoesHere
                    .counter.col_fourth.options
                        i.fas.fa-users.fa-2x
                        h2.timer.count-title.count-number(data-to='40200', data-speed='1500')
                        p.count-text SomeText GoesHere
                    .counter.col_fourth.end.options
                        i.fas.fa-music.fa-2x
                        h2.timer.count-title.count-number(data-to='4200', data-speed='1500')
                        p.count-text SomeText GoesHere