contact.contact#contact
    .container
        .wrapper
            .contact
                h2.contact__title Contact us
                span.title__text Lorem ipsum dolor


            .options__list
                .options
                    h3.title__block EMAIL
                    span.block__text lorem@lorem.com
                        br
                        | lorem@lorem.com
                .options
                    h3.title__block CALL US
                    span.block__text +38 000 000 00 00
                        br
                        | +38 000 000 00 00
                .options
                    h3.title__block ADDRESS
                    span.block__text 111, Main Street,
                        br
                        | My City

                //.between
                //    .between__block
                //        img(src="../../images/between_block.png")
                //.options
                    //Form
                form#form(method="post" action="send.php").form
                    .form__fields
                        input.form__input(type='text' placeholder="Your Name" autocomplete='on' name='name' required='required')
                        input.form__input(type='text' placeholder="Subject" autocomplete='on' name='subject' required='required')
                        input.form__input(type="email" placeholder="Your email" autocomplete='on' name='email' required='required')
                        textarea.form__input.textarea(name="message" placeholder="Your message" rows=5 cols=30)
                        input#btn_form.button.button--form.button--text-uppercase(type='submit' value="Submit message")
    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39746.01106795541!2d-0.1216139!3d51.4925609!" +
                "3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z0JvQvtC90LTQvtC9LCDQktC10LvQuNC60L7" +
                "QsdGA0LjRgtCw0L3QuNGP!5e0!3m2!1sru!2sua!4v1534747051659" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen)

