footer.footer
    .footer__top
        .container
            .footer__title Contact us

            ul.footer__links
                li.footer__item
                    i.far.fa-envelope
                    h3.footer__header EMAIL
                    p.footer__description lorem@lorem.com
                        br
                        | lorem@lorem.com

                li.footer__item
                    i.fas.fa-mobile-alt
                    h3.footer__header.footer__header-book CALL US
                    p.footer__description +38 000 000 00 00
                        br
                        | +38 000 000 00 00

                li.footer__item
                    i.fas.fa-map-marked-alt
                    h3.footer__header.footer__header-message ADDRESS
                    p.footer__description 111, Main Street, My City, Country 00000
                        br
                        | +38 000 000 00 00


    //.footer__bottom
    //    .footer__copy Cssauthor.com © 2014 All Rights Reserved