footer.footer
    .footer__top
        .container
            .footer__header
                //.footer__contact--bg
                .footer__title Contact us

            .footer__links
                .footer__item
                    .footer__icon--bg
                        i.far.fa-envelope
                    .item__text
                        h3.item__header EMAIL
                        span.footer__description lorem@lorem.com
                            br
                            | lorem@lorem.com

                .footer__item
                    .footer__icon--bg
                        i.fas.fa-mobile-alt
                    .item__text
                        h3.item__header CALL US
                        span.footer__description +38 000 000 00 00
                            br
                            | +38 000 000 00 00

                .footer__item
                    .footer__icon--bg
                        i.fas.fa-globe
                    .item__text
                        h3.item__header ADDRESS
                        span.footer__description 111, Main Street,
                            br
                            | My City


    .footer__bottom
        .container
            .footer__copy COPYRIGHT 2018  |  Designed By Serhii Kovtoniuk

            .step__up
                a(href="#home")
                    i.fas.fa-angle-up.step__text
