header.header
    .container
        .wrapper
            .header__top
                a(href="#").logo: img.logo__picture(src="images/logo.png" alt="logo")
                include nav
            include main_nav

            .intro
                .intro__banner
                    h1.main__title Lorem ipsum
                        br
                        | dolor sit
                    img(src="images/about-bg.jpg" alt="about-bg")

                .intro__options
                    .options_1
                        h2.title__options Lorem ipsum
                        span.text__options Lorem ipsum dolor sit amet,
                            br
                            | consectetuer adipiscing elit, sed diam

                    .options_2
                        h2.title__options Lorem ipsum
                        span.text__options Lorem ipsum dolor sit amet,
                            br
                            | consectetuer adipiscing elit, sed diam

                    .options_3
                        h2.title__options Lorem ipsum
                        span.text__options Lorem ipsum dolor sit amet,
                            br
                            | consectetuer adipiscing elit, sed diam

