section#home.home
    .container
        .main
            .logo
                img(src="images/logo.png" alt="logo")
            .diamond_1
            .diamond_2
            .diamond_3
                .diamond_3--text
                    h1.header__title Your beautiful handcrafted marketplace
                    p.title__text.
                        Lorem ipsum dolor  mero moleamet, soluta euism od isea, hiea unereusams ullu tpamco detore  aer
                        rper quo,utam signiferuuue uo. Brute inani in prom in.Lorem ipsum dolor  mero moleamet, soluta euism
                        od isea, hiea unereusams ullu tpamco detore  aer rper quo,utam signiferuuue uo. Brute inani in prom in.
                    a(href="/") START
