nav.l-side-nav
    ul.side-nav
        li.is-active
            a(href='#home') Home
        li
            a(href='#about') About
        li
            a(href='#discography') Discography
        li
            a(href='#tours') Concert tours
        li
            a(href='#tracks') New tracks
        li
            a(href='#events') Upcoming Events
        li
            a(href='#history') History
        li
            a(href='#contact') Contact