.top__menu
    #toggle.button_container(data-target=".overlay")
        span.top
        span.middle
        span.bottom
        #overlay.overlay
            nav.overlay-menu
                ul
                    li
                        a(href='#home') Home
                    li
                        a(href='#about') About
                    li
                        a(href='#work') Work
                    li
                        a(href='#services') Our Services
                    li
                        a(href='#team') Small team
                    li
                        a(href='#testim') Testimonials
                    li
                        a(href='#faq') Contact